/* @tailwind base;
@tailwind components;
@tailwind utilities; */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  line-height: 1.6;
  background: #f4f4f4;
  color: #555;
}
/* .ce-block {
  display: block;
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
  padding: 0 20px;
}
.ce-block__content {
  width: 100%;
  max-width: 1200px;
  padding: 0 50px;
}
.ce-toolbar__content {
  /* border: 1px solid pink; */
/* width: 100%;
  margin: 0;
}
.ce-toolbar__actions,
.ce-toolbar__actions--opened {
  /* border: 1px solid black; */
/* width: 100%;
} */

.ce-block__content,
.ce-toolbar__content {
  max-width: unset;
}
